{% extends "base.html.twig" %}

{% block title %}Library | {% endblock %}

{% block content %}
<div class="container-left">
    <div class="formcontainer">
<form method="post">
    <fieldset>
    <legend>Add a book</legend>

    <p>
        <input type="text" name="title" value="Title">
        <input type="value" name="isbn" value="ISBN">
        <input type="text" name="author" value="Author">
        <input type="text" name="image" value="Image">
        <input type="text" name="description" value="Description">
        <input type="submit" name="add" value="Add">
    </p>
    </fieldset>
</form>

{{ include('block/flash-message.html.twig') }}

</div>
    <li><a href="{{ url("library")}}">Library</a></li>
    <li><a href="{{ url("books_show_all")}}">Show all books</a></li>
</div>
{% endblock %}
