{% extends "base1.html.twig" %}

{% block title %}Role | change {% endblock %}

{% block content %}
<main>
    <div class="container-left">
    <h1>Edit user</h1>
<form method="post">
        <p class="p-form"> <label for="name">Name</label></p>
        <input type="text" name="name" value={{user.name}}>
        <p class="p-form"><label for="akronym">Akronym</label></p>
        <input type="text" name="akronym" value={{user.akronym}}>
        <p class="p-form"><label for="email">Email</label></p>
        <input type="text" name="email" value={{user.email}}> <br>
        <input class="input-field" type="submit" name="update" value="Change">
    </p>
</form>

{{ include('block/flash-message.html.twig') }}

</div>
</main>
{% endblock %}
