
#str {
    padding: 20px;
    height: auto;
    font-size: 40px;
    margin: 200px auto;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background: transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15)
 }
 .ess{
    font-size: 7rem;
 }


  /* td > a {
    text-decoration: none;  
 } */