$black: #000;
$a: #403d36;
// $b: #50462c;
$c: #635e51;
// $d: #8c8676;
$e: #ebd088;
$f: #cab685;
$white: #fff;


$body-background-color: $a;
$main-background-color: $c;
$background-color: $a;
$footer-color: $a;
// $header-color: $e;
$font-color: $e;
$shaddow-color: $c;
$main-font-size: 1.25rem;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;

