{% extends 'base1.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block content %}

<main>
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        

        <p class="p-form"><label for="username">Email:</label></p>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>

        <p class="p-form"><label for="password">Password:</label></p>
        <input type="password" id="password" name="_password"/><br>

        {# If you want to control the URL the user is redirected to on success #}
        {# <input type="hidden" name="_target_path" value="/user/{{app.user.email}}"/> #}
        <input type="hidden" name="_target_path" value="/login/direct"/>

        <button type="submit">login</button>
    </form>
</main>


{% endblock %}
