{# test.html.twig #}

{% extends "base.html.twig"%}

{% block content %}

<div>
    <h1>Card landingpage</h1>
<ul>
    <li><a href="{{ url("deck")}}">Deck</a></li>
    <li><a href="{{ url("shuffle")}}">Shuffle</a></li>
</ul>
    
</div>

{% endblock %}