{% extends "base1.html.twig" %}

{% block title %}Session{% endblock %}

{% block content %}
<main>
    <div class="containerleft">
<h1>Spela poker</h1>
<form method="post">
    <p>Här startar pokerpatiens</p>
    <p>
        <input type="submit" name="start" value="Start">
    </p>

 


    {{ include('block/flash-message.html.twig') }}
</form>
</main>


</div>
{% endblock %}
