{# templates/home.html.twig #}
{% extends "base1.html.twig"%}

{% block content %}

<main>
<div>
<h1>About</h1>
<p>Detta är about sidan</p>
</div>
<a href="{{"///C:/Users/HP/dbwebb-kurser/mvc/me/report/docs/api/index.html"}}" >Doc</a>
<link rel="icon" href="{{ asset("favicon.ico") }}">
</main>

 {% endblock %}