{# templates/about.html.twig #}


{% extends "base.html.twig"%}

{% block content %}
<div>
    <h1>About</h1>
    <p><img class="left" src={{ asset("img/php.png")}} alt="PHP-elefant">I denna kurs lär vi oss objektorienterade
        programmeringstekniker i programmeringsspråket PHP. Vi kommer också att använda oss av ramverket 
    Symfoni i vilket vi bygger en webbplats. För övrigt så finns det också delar som innefattar databaser och
    enhetstestning. Syftet med kursen är att knyta ihop lite av varje av det vi hitintills har lärt oss.</p>
    <a href="https://github.com/sogumet/MVC">Länk till report på Github</a>
</div>

 {% endblock %}