{# templates/home.html.twig #}
{% extends "base.html.twig"%}

{% block content %}

<div>
<h1>Home</h1>


<p><img class="left" src={{ asset("img/maklare1_bw.jpg")}} alt="Utomjording">Jag kommer från galaxen NGC 2812 och har rest till
    planeten Tellus för att studera OOPHP. Det var en trip på 6500 ljusår så jag är ganska restrött. Det verkar också 
    som jag kommer få lite problem med jetleg även fast jag har hibernerat i kryosömn mesta av tiden. Hoppas verkligen
    att kursen är värt allt besvär så jag kan återvända hem med ny revolutionerande kunskap som kan föra utveklingen framåt
    på min hemplanet.</p>
</div>
 {% endblock %}